.menuMainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .vertical-line {
    border-left: 6px solid #91BC4D;
    height: 42px;
    width: 6px;
    margin-right: 10px;
    margin-bottom: -8px;
    display: inline-block;
  }

  .why-text {
    background-image: linear-gradient( #54B9ED, #2E6CA8);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 36px;
    line-height: 96.5px;
    margin-top: -900px;
  }
  
  .prosuite-text {
    background-image: linear-gradient( #54B9ED, #2E6CA8);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    line-height: 96.5px;
    font-weight: normal;
  }

  .proSuiteTitle{
    font-size: 24px;
    font-weight: 700;
    color: #B5B5B6;
    line-height: 30px;
  }
  .paragraphContent{
    font-weight: 400;
    font-size: 16;
    color: #B5B5B6;
    line-height: 24px;
    margin-top: 12px;
  }

  .itemContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    margin: 5px;
    box-shadow: 1px 2px 16px  rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .listItem{
     width: 100%; 
     height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px,1fr));
    grid-gap: 40px;

    place-items: center;

  }

  .itemContainer {
    border-radius: 15px;
    width: 400px;
    height: 400px;
    margin: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .screen{
    height: 150px;
    width: 98.18px;
    background-size: contain;
    background-position: center;
  }

  @media only screen and (max-width: 1300px) {

    .itemContainer {
      border-radius: 15px;
      width: 250px;
      height: 250px;
      margin: 5px;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .screen{
      height: 90px;
      width: 80px;
    }

    .proSuiteTitle{
      font-size: 15px;
      line-height: 5px;
    }
    .paragraphContent{
      font-size: 10px;
      color: #B5B5B6;
      line-height: 13px;
    }
    .itemContainer {
      padding: 10px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .listItem{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }