.footer {
    background: linear-gradient( #348ADD, #2E6CA8);
    color: #ffffff;
    margin-top: 60px;
    padding-bottom: 10px;
  }

  .subFootMainContainer{
    display: flex;
    flex-direction: column;
    max-width: 1330px;
    margin: 0 auto;
  }

  .requestDemoContainer{
    width: 100%;
    height: 129px;
    background-color: #84BE35;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;  */
   }

  .subRequestDemoContainer{
    display: flex;
    width: 1330px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: red; */
    /* align-items: center; */
    align-items: center;
  }

  .subTitles{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }

  .buttonReq{
        border-color: transparent;
        padding: 12px 24px 12px 24px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        border-radius: 4px;
        color: white;
        background: linear-gradient(#54B9ED, #2E6CA8);
        cursor: pointer;
  }
 
  .footerContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 40px;

    place-items: center;
  }
  
  .whiteLogo{
    width: 149px;
    height: 53px;
  }
  .footerColumn1, .footerColumn2, .footerColumn3,.footerColumn4 {
    display: flex;
    flex-direction: column;
    padding: 60px;
    font-size: 12px;
    font-weight: 400;
  }

  .label{
    margin-top: 4px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  label{
    margin-top: 14px;
    cursor: pointer;
  }

  .footerColumn1{
    padding-left: 0px;
    width: 270px;
    line-height: 20px;
  }

  .footerColumn3, .footerColumn2{
    /* line-height: 20px; */
  }

  .footerColumn4{
    width: 250px;
    line-height: 16px;
  }

  .privacyContainer{
    font-size: 12px;
  }

  .footer-copyright{
    margin-right: 100px;

  }

  .socialLogoItem{
    width: 28px;
    height: 28px;
    margin-left: 12px;
    cursor: pointer;
  }

  .footerTitle{
    font-size: 36px;
    font-weight: 700;
    line-height: 16px;
    margin-top: -5px;
    /* background-color: red; */
  }

.bottomFooterRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.privacyContainer{
    display: flex;
    flex-direction: row;
}
  
@media only screen and (max-width: 1300px) {

  .footerTitle{
    font-size: 20px;
    line-height: 18px;
    margin-top: 0px;
  }

  .buttonReq{
    border-radius: 4px;
    border-color: transparent;
    padding: 7px 15px 7px 15px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0px;
  }
}
 
@media only screen and (max-width: 768px) {
  
.bottomFooterRow{
  flex-direction: column;
  align-items: center;
}

.privacyContainer{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;

}

.footerColumn1, .footerColumn2, .footerColumn3,.footerColumn4 {
 text-align: center;
  padding: 0px;
}

.footer-copyright{
  margin-right: 0px;

}

.footerTitle{
  font-size: 10px;
}

.subRequestDemoContainer{
  flex-direction: column;
}

.requestDemoContainer{
  height: 70px;  }


.whiteLogo{
  margin: 0 auto;
  margin-top: 10px;
}
.footer {
  margin-top: 10px;
}
}
  