.homeMainContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* width: 1000px; */
    /* flex-direction: row; */

    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 40px;
}


.contentContainer h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 88px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -50px;

  background-image: linear-gradient( #54B9ED, #2E6CA8);
  -webkit-background-clip: text;
  color: transparent;
  }

  .contentContainer .welcome {
    font-weight: 400;
    font-size: 24px;
    line-height: 95.5px;
    font-family: 'Open Sans', sans-serif;
    color: #91BC4D;
  }
  .contentContainer .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -50px;
    font-family: 'Open Sans', sans-serif;
    color: #B5B5B6;
  }

.getStarted, .requestDemo {
    /* width: 163px; */
    height: 48px;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 13px;
    padding: 12px 24px 12px 24px;

  }

.requestDemo{
}

.requestDemo{
  background-color: #91BC4D;
  margin-left: 10px;
}

.rightSide {
  height: 601px;
  /* width: 601px; */
  
  background-size: contain;
  background-position: center;
}

@media only screen and (max-width: 1300px) {
  
  .contentContainer h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    }

    .rightSide {
      height: 200px;
      width: 200px;
      margin-top: 60px;
    }
    .contentContainer .content {
      font-size: 10px;
      line-height: 20px;
      margin-top: -20px;
    }

    .getStarted, .requestDemo {
      /* width: 163px; */
      height: 48px;
      color: white;
      border-color: transparent;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 700;
      margin-top: 13px;
      padding: 10px 15px 10px 15px;
  
    }
}