
header {
    
	display: flex;
	justify-content: center;
    align-content: center;
	height: 80px;
    
}

.mainNavBarContainer{
    width: 70%;
    justify-content: space-between;
  
}
.requestDemoNav {
    height: 48px;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px 12px 24px;
    background-color: #91BC4D;

  }

nav a {
	margin: 20px;
	color: black;
	text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

header div {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {

	header nav {
        display: none;
	}

}