.App{
  font-family: 'Open Sans';
}

*{
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.SubAppContainer {
  display: flex; 
   flex-direction: column;
   width: 70%;
  margin: 0 auto;
  
}

@media only screen and (max-width: 1500px) {
  .SubAppContainer {
     width: 100%;
  }
}

